@import url("reset.css");
html,
body,
.wrap {
  width: 100%;
  height: 100%;
  background: none;
}
.wrap {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.wrap header {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  width: 100%;
  height: 45px;
  background: #f7f7f7;
}
.wrap header .Aftermarket_h_left {
  width: 40px;
  height: auto;
  background: none;
}
.wrap header .Aftermarket_h_left img {
  width: 10px;
  height: auto;
  background: none;
  margin-top: 14px;
  margin-left: 11px;
}
.wrap header .Aftermarket_h_center {
  -webkit-box-flex: 1;
  text-align: center;
  line-height: 45px;
}
.wrap header .Aftermarket_h_right {
  width: 40px;
  height: auto;
  background: none;
}
.wrap header .Aftermarket_h_right img {
  width: 20px;
  height: auto;
  background: none;
  margin-top: 13px;
  margin-left: 11px;
}
.wrap section {
  -webkit-box-flex: 1;
  overflow-y: auto ;
  background: #f2f2f2;
}
.wrap section::-webkit-scrollbar {
  width: 0;
}
.wrap section .Aftermarket_s_main {
  width: 100%;
  height: 95px;
  background: #ffffff;
  padding: 10px 10px ;
}
.wrap section .Aftermarket_s_main .Aftermarket_s_m_1 {
  color: #666666;
  font-size: 12px;
}
.wrap section .Aftermarket_s_main2 {
  margin-top: 5px;
  width: 100%;
  height: 37.5px;
  background: #ffffff;
  line-height: 37.5px;
  padding-left: 15px;
}
.wrap section .Aftermarket_s_main3 {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  margin-top: 5px;
  padding: 8px 11px;
  background: #FFFFFF;
}
.wrap section .Aftermarket_s_main3 dl dt {
  float: left;
  margin-right: 5px;
}
.wrap section .Aftermarket_s_main3 dl dt img {
  width: auto;
  height: 75px;
  background: none;
}
.wrap section .Aftermarket_s_main3 dl dd {
  float: left;
  width: 70%;
  height: auto;
  background: none;
}
.wrap section .Aftermarket_s_main3 dl dd h4 {
  line-height: 15px;
  color: #262626;
  font-size: 12px;
}
.wrap section .Aftermarket_s_main3 dl dd > div ul li {
  line-height: 16px;
  color: #666666;
  font-size: 11px;
}
.wrap section .Aftermarket_s_main3 dl dd > div ul:nth-child(1) {
  float: left;
  width: 62%;
  height: auto;
  background: none;
}
.wrap section .Aftermarket_s_main3 dl dd > div ul:nth-child(2) {
  float: right;
}
.wrap section .Aftermarket_s_main4 {
  width: 100%;
  height: 25px;
  background: #ffffff;
  text-align: right;
  line-height: 25px;
  padding-right: 10px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid #f8f8f8;
}
.wrap section .Aftermarket_s_main4 span {
  color: #ff7d1b;
}
.wrap section .Aftermarket_s_main5 {
  width: 100%;
  height: 30px;
  background: #ffffff;
  border-bottom: 1px solid #f8f8f8;
  text-align: left;
  line-height: 30px;
  padding-left: 10px;
  margin-top: 5px;
}
.wrap section .Aftermarket_s_main6 {
  width: 100%;
  height: 145px;
  background: #ffffff;
  padding: 5px 10px;
  border-bottom: 1px solid #f8f8f8;
}
.wrap section .Aftermarket_s_main6 ul li {
  font-size: 8px;
  line-height: 17.5px;
  color: #8c8c8c ;
}
.wrap section .Aftermarket_s_main6 ul li span {
  color: #ff8838;
}
.wrap section .Aftermarket_s_main7 {
  width: 100%;
  height: 60px;
  background: #ffffff;
  border-bottom: 1px solid #f8f8f8;
  padding-left: 70px;
}
.wrap section .Aftermarket_s_main7 img {
  width: 50px;
  height: auto;
  background: none;
}
.wrap section .Aftermarket_s_main8 {
  width: 100%;
  height: 32px;
  background: #ffffff;
  text-align: right;
  line-height: 32px;
  padding-right: 10px;
}
.wrap section .Aftermarket_s_main8 button {
  width: 60px;
  height: 20px;
  background: none;
  outline: none;
  border: 1px solid #333333;
  border-radius: 8px;
  font-size: 12px;
  color: #333333;
}
