@import url(reset.css);
html,
body {
  width: 100%;
  height: 100%;
}
.wrapper {
  width: 100%;
  height: 100%;
  background: #f2f2f2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.wrapper header {
  width: 100%;
  height: 45px;
  background: #f7f7f7;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  padding: 0 11px;
  position: relative;
  border-bottom: 1px solid #bfbfbf;
}
.wrapper header .bangding_h_left {
  position: absolute;
  left: 11px;
  top: 13px;
}
.wrapper header .bangding_h_left img {
  width: auto;
  height: 18px;
  background: none;
}
.wrapper header .bangding_h_center {
  font-size: 16px;
  color: #232323;
  -webkit-box-flex: 1;
  text-align: center;
  line-height: 45px;
  font-weight: bold;
}
.wrapper header .bangding_h_right {
  position: absolute;
  right: 11px;
  top: 13px;
}
.wrapper header .bangding_h_right img {
  width: auto;
  height: 18px;
  background: none;
}
.wrapper section {
  -webkit-box-flex: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.wrapper section .news {
  width: 100%;
  background: #f2f2f2;
}
.wrapper section .news .zhifu {
  margin-top: 5px;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  padding-left: 11px;
  background: #ffffff;
}
.wrapper section .news .zhifu p:nth-child(1) {
  width: 100%;
  height: 38px;
  background: #ffffff;
  border-bottom: 1px solid #cccccc;
  line-height: 38px;
  color: #666666;
  font-size: 15px;
}
.wrapper section .news .zhifu p:nth-child(1) input {
  width: 60%;
  border: none;
  outline: none;
}
.wrapper section .news .zhifu p:nth-child(2) {
  width: 100%;
  height: 38px;
  background: #ffffff;
  line-height: 38px;
  color: #666666;
  font-size: 15px;
}
.wrapper section .news .zhifu p:nth-child(2) input {
  width: 35%;
  border: none;
  outline: none;
}
.wrapper section .news .zhifu p:nth-child(2) span {
  float: right;
  display: inline-block;
  width: 80px;
  height: 38px;
  background: none;
  border-left: 1px solid #cccccc;
  text-align: center;
  font-size: 13px;
  color: #343434;
}
.wrapper section .news #btn {
  padding: 0 11px;
}
.wrapper section .news #btn button {
  margin-top: 20px;
  display: inline-block;
  width: 100%;
  height: 30px;
  background: #ff7f1c;
  line-height: 30px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  color: #fcfeff;
  outline: none;
}
