@import url(reset.css);
html,
body {
  width: 100%;
  height: 100%;
}
.wrapper {
  width: 100%;
  height: 100%;
  background: #f2f2f2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.wrapper header {
  width: 100%;
  height: 45px;
  background: #f7f7f7;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  padding: 0 11px;
  position: relative;
  border-bottom: 1px solid #bfbfbf;
}
.wrapper header .gengduo_h_left {
  position: absolute;
  left: 11px;
  top: 13px;
}
.wrapper header .gengduo_h_left img {
  width: auto;
  height: 18px;
  background: none;
}
.wrapper header .gengduo_h_center {
  font-size: 16px;
  color: #232323;
  -webkit-box-flex: 1;
  text-align: center;
  line-height: 45px;
  font-weight: bold;
}
.wrapper header .gengduo_h_right {
  position: absolute;
  right: 11px;
  top: 13px;
}
.wrapper header .gengduo_h_right img {
  width: auto;
  height: 18px;
  background: none;
}
.wrapper section {
  -webkit-box-flex: 1;
  overflow-y: auto;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.wrapper section::-webkit-scrollbar {
  width: 0;
}
.wrapper section .head #bgi {
  width: 100%;
  height: auto;
  background: none;
}
.wrapper section .head .xinxi {
  background: #FFFFFF;
  padding: 0 11px;
  position: relative;
}
.wrapper section .head .xinxi #tx {
  width: 44px;
  height: auto;
  background: none;
  position: absolute;
  top: -23px;
  left: 11px;
}
.wrapper section .head .xinxi #name {
  position: absolute;
  top: -22px;
  left: 64px;
  color: #fffdfe;
  font-size: 12px;
}
.wrapper section .head .xinxi p:nth-child(3) {
  width: 100%;
  height: 20px;
  background: none;
  line-height: 22px;
  padding-left: 50px;
  font-size: 10px;
  color: #999999;
}
.wrapper section .head .xinxi p:nth-child(3) img {
  width: 13px;
  height: auto;
  background: none;
  margin-right: 10px;
}
.wrapper section .head .xinxi p:nth-child(3) img .num {
  color: #676767;
  font-weight: bold;
}
.wrapper section .head .xinxi p:nth-child(3) a {
  float: right;
  text-decoration: none;
  color: #5053b0;
}
.wrapper section .head .xinxi p:nth-child(4) {
  padding: 8px 0;
  color: #252525;
  font-size: 10px;
  line-height: 15px;
}
.wrapper section .news {
  margin-top: 5px;
}
.wrapper section .news h3 {
  border-bottom: 1px solid #f2f2f2;
  width: 100%;
  height: 35px;
  background: #ffffff;
  font-size: 15px;
  color: #262626;
  padding-left: 11px;
  font-weight: bold;
  line-height: 35px;
  position: relative;
}
.wrapper section .news h3 .jiao {
  width: 8px;
  height: auto;
  background: none;
  position: absolute;
  top: 9px;
  right: 11px;
}
.wrapper section .news > div {
  padding-left: 11px;
  background: #ffffff;
}
.wrapper section .news > div p {
  width: 100%;
  height: 30px;
  background: none;
  border-bottom: 1px solid #f2f2f2;
  line-height: 30px;
  position: relative;
  padding: 0 11px 0 22px;
  font-size: 12px;
  color: #272727;
}
.wrapper section .news > div p input {
  outline: none;
  border: none;
  width: 55%;
  height: auto;
  background: none;
}
.wrapper section .news > div p .tu {
  width: auto;
  height: 14px;
  background: none;
  position: absolute;
  top: 8px;
  left: 1px;
}
.wrapper section .news > div p #tu1 {
  width: 10px;
  height: auto;
  background: none;
  top: 6px;
}
.wrapper section .news > div p .jiao {
  width: 8px;
  height: auto;
  background: none;
  position: absolute;
  top: 7px;
  right: 11px;
}
.wrapper section .news > div p .yan {
  width: 20px;
  height: auto;
  background: none;
  position: absolute;
  top: 9px;
  right: 25px;
}
.wrapper section .news dl dt {
  position: relative;
  float: right;
}
.wrapper section .news dl dt img {
  width: 8px;
  height: auto;
  background: none;
  position: absolute;
  top: 18px;
  right: 11px;
}
.wrapper section .news dl dd {
  float: left;
  padding: 8px 0 8px 11px;
  background: #FFFFFF;
  width: 100%;
}
.wrapper section .news dl dd P {
  width: 100%;
  line-height: 20px;
  font-size: 12px;
  color: #252525;
}
.wrapper section .news dl dd p:nth-child(1) {
  font-weight: bold;
}
