@import url("reset.css");
/* line 11, execute.less */
html,
body,
.wrap {
  width: 100%;
  height: 100%;
  background: none;
}
/* line 14, execute.less */
.wrap {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
/* line 17, execute.less */
.wrap header {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  width: 100%;
  height: 45px;
  background: #f7f7f7;
}
/* line 20, execute.less */
.wrap header .execute_h_left {
  width: 40px;
  height: auto;
  background: none;
}
/* line 22, execute.less */
.wrap header .execute_h_left img {
  width: 10px;
  height: auto;
  background: none;
  margin-top: 14px;
  margin-left: 11px;
}
/* line 28, execute.less */
.wrap header .execute_h_center {
  -webkit-box-flex: 1;
  text-align: center;
  line-height: 45px;
}
/* line 33, execute.less */
.wrap header .execute_h_right {
  width: 40px;
  height: auto;
  background: none;
}
/* line 35, execute.less */
.wrap header .execute_h_right img {
  width: 20px;
  height: auto;
  background: none;
  margin-top: 13px;
  margin-left: 11px;
}
/* line 42, execute.less */
.wrap section {
  -webkit-box-flex: 1;
  overflow-y: auto ;
  background: #f2f2f2;
}
/* line 45, execute.less */
.wrap section::-webkit-scrollbar {
  width: 0;
}
/* line 49, execute.less */
.wrap section .execute_s_main {
  width: 100%;
  height: 95px;
  background: #ffffff;
  padding: 10px 10px ;
}
/* line 52, execute.less */
.wrap section .execute_s_main .execute_s_m_1 {
  color: #666666;
  font-size: 12px;
}
/* line 57, execute.less */
.wrap section .execute_s_main2 {
  margin-top: 5px;
  width: 100%;
  height: 37.5px;
  background: #ffffff;
  line-height: 37.5px;
  padding-left: 15px;
}
/* line 63, execute.less */
.wrap section .execute_s_main3 {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  margin-top: 5px;
  padding: 8px 11px;
  background: #FFFFFF;
}
/* line 69, execute.less */
.wrap section .execute_s_main3 dl dt {
  float: left;
  margin-right: 5px;
}
/* line 72, execute.less */
.wrap section .execute_s_main3 dl dt img {
  width: auto;
  height: 75px;
  background: none;
}
/* line 76, execute.less */
.wrap section .execute_s_main3 dl dd {
  float: left;
  width: 70%;
  height: auto;
  background: none;
}
/* line 79, execute.less */
.wrap section .execute_s_main3 dl dd h4 {
  line-height: 15px;
  color: #262626;
  font-size: 12px;
}
/* line 86, execute.less */
.wrap section .execute_s_main3 dl dd > div ul li {
  line-height: 16px;
  color: #666666;
  font-size: 11px;
}
/* line 92, execute.less */
.wrap section .execute_s_main3 dl dd > div ul:nth-child(1) {
  float: left;
  width: 62%;
  height: auto;
  background: none;
}
/* line 96, execute.less */
.wrap section .execute_s_main3 dl dd > div ul:nth-child(2) {
  float: right;
}
/* line 104, execute.less */
.wrap section .execute_s_main4 {
  width: 100%;
  height: 25px;
  background: #ffffff;
  text-align: right;
  line-height: 25px;
  padding-right: 10px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid #f8f8f8;
}
/* line 111, execute.less */
.wrap section .execute_s_main4 span {
  color: #ff7d1b;
}
/* line 115, execute.less */
.wrap section .execute_s_main5 {
  width: 100%;
  height: 30px;
  background: #ffffff;
  border-bottom: 1px solid #f8f8f8;
  text-align: left;
  line-height: 30px;
  padding-left: 10px;
  margin-top: 5px;
}
/* line 123, execute.less */
.wrap section .execute_s_main6 {
  width: 100%;
  height: 100px;
  background: #ffffff;
  padding: 5px 10px;
  border-bottom: 1px solid #f8f8f8;
}
/* line 128, execute.less */
.wrap section .execute_s_main6 ul li {
  font-size: 8px;
  line-height: 17.5px;
  color: #8c8c8c ;
}
/* line 132, execute.less */
.wrap section .execute_s_main6 ul li span {
  color: #ff8838;
}
/* line 138, execute.less */
.wrap section .execute_s_main7 {
  width: 100%;
  height: 60px;
  background: #ffffff;
  border-bottom: 1px solid #f8f8f8;
  padding-left: 70px;
}
/* line 142, execute.less */
.wrap section .execute_s_main7 img {
  width: 50px;
  height: auto;
  background: none;
}
/* line 146, execute.less */
.wrap section .execute_s_main8 {
  width: 100%;
  height: 32px;
  background: #ffffff;
  text-align: right;
  line-height: 32px;
  padding-right: 10px;
}
/* line 151, execute.less */
.wrap section .execute_s_main8 #btn1 {
  width: 60px;
  height: 20px;
  background: none;
  margin-right: 5px;
  outline: none;
  border: 1px solid #fd7d18;
  border-radius: 8px;
  font-size: 12px;
  color: #fd7d18;
}
/* line 160, execute.less */
.wrap section .execute_s_main8 #btn2 {
  width: 60px;
  height: 20px;
  background: none;
  outline: none;
  border: 1px solid #fd7d18;
  border-radius: 8px;
  font-size: 12px;
  color: #fd7d18;
}
/* line 169, execute.less */
.wrap section .execute_s_main9 {
  width: 100%;
  height: 30px;
  background: #ffffff;
  border-bottom: 1px solid #f8f8f8;
  text-align: right;
  padding-right: 10px;
  line-height: 30px;
}
/* line 175, execute.less */
.wrap section .execute_s_main9 button {
  width: 60px;
  height: 20px;
  background: none;
  outline: none;
  border: 1px solid #333333;
  border-radius: 8px;
  font-size: 12px;
  color: #333333;
}
