@import url(reset.css);
html,
body {
  width: 100%;
  height: 100%;
}
.wrapper {
  width: 100%;
  height: 100%;
  background: #f2f2f2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.wrapper header {
  width: 100%;
  height: 45px;
  background: #f7f7f7;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  padding: 0 11px;
  position: relative;
  border-bottom: 1px solid #bfbfbf;
}
.wrapper header .gengduo_h_left {
  position: absolute;
  left: 11px;
  top: 13px;
}
.wrapper header .gengduo_h_left img {
  width: auto;
  height: 18px;
  background: none;
}
.wrapper header .gengduo_h_center {
  font-size: 16px;
  color: #232323;
  -webkit-box-flex: 1;
  text-align: center;
  line-height: 45px;
  font-weight: bold;
}
.wrapper header .gengduo_h_right {
  position: absolute;
  right: 11px;
  top: 13px;
}
.wrapper header .gengduo_h_right img {
  width: auto;
  height: 18px;
  background: none;
}
.wrapper section {
  -webkit-box-flex: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.wrapper section .news {
  width: 100%;
  background: #ffffff;
}
.wrapper section .news ul {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  width: 100%;
  height: 40px;
  background: none;
  padding: 5px 0;
  line-height: 35px;
}
.wrapper section .news ul li {
  background: url(../img/finance/images/nav_03.png) no-repeat 1px;
  -webkit-box-flex: 1;
  text-align: center;
  font-size: 13px;
  color: #343434;
}
.wrapper section .news ul li img {
  width: auto;
  height: 6px;
  background: none;
  margin-left: 5px;
}
.wrapper section .xiaoxi {
  width: 100%;
  background: #ffffff;
  margin-top: 5px;
}
.wrapper section .xiaoxi p {
  width: 100%;
  padding: 10px 11px;
  font-size: 11px;
  color: #666666;
}
.wrapper section .xiaoxi p .xiaoxi_left {
  color: #4f53b4;
}
.wrapper section .xiaoxi p .xiaoxi_right {
  float: right;
}
