@import url("reset.css");
html,
body,
.wrap {
  width: 100%;
  height: 100%;
  background: none;
  background-image: url(../img/denglu/a1.png);
  background-size: 100%;
}
.wrap header {
  padding-top: 65px;
  width: 100%;
  height: 232px;
  background: none;
  text-align: center;
}
.wrap header .login_h_center {
  font: "微软雅黑";
  font-size: 18px;
  color: #4d4d4d;
}
.wrap header .login_h_center img {
  width: auto;
  height: 100px;
  background: none;
}
.wrap section {
  -webkit-box-flex: 1;
}
.wrap section .login_s_main {
  padding-right: 50px;
  width: 100%;
  height: 45px;
  background: none;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.wrap section .login_s_main .login_s_m_left {
  width: 85px;
  height: auto;
  background: none;
}
.wrap section .login_s_main .login_s_m_left img {
  width: 32.5px;
  height: auto;
  background: none;
  margin-left: 30px;
  margin-top: 3px;
}
.wrap section .login_s_main .login_s_m_right {
  -webkit-box-flex: 1;
}
.wrap section .login_s_main .login_s_m_right input {
  width: 100%;
  height: 30px;
  background: none;
  border: none;
  border-bottom: 3px solid #ff7d1b;
  outline: none;
}
.wrap section .login_s_main2 {
  position: relative;
  width: 100%;
  height: 45px;
  background: none;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  padding-right: 50px;
  margin-top: 10px;
}
.wrap section .login_s_main2 .login_s_m_left2 {
  width: 85px;
  height: auto;
  background: none;
}
.wrap section .login_s_main2 .login_s_m_left2 img {
  width: 32.5px;
  height: auto;
  background: none;
  margin-left: 30px;
  margin-top: 3px;
}
.wrap section .login_s_main2 .login_s_m_right2 {
  -webkit-box-flex: 1;
}
.wrap section .login_s_main2 .login_s_m_right2 input {
  width: 100%;
  height: 30px;
  background: none;
  border: none;
  border-bottom: 3px solid #ff7d1b;
  outline: none;
}
.wrap section .login_s_main2 .login_s_m_right2 img {
  width: 25px;
  height: auto;
  background: none;
  position: absolute;
  top: 8px;
  right: 52px;
}
.wrap section .login_s_main3 {
  width: 100%;
  height: 45px;
  background: none;
  padding: 20px 20px;
}
.wrap section .login_s_main3 button {
  width: 100%;
  height: 45px;
  background: #ff7d1b;
  border: none;
  color: white;
  font-size: 25px;
  border-radius: 9px;
  outline: none;
}
.wrap section .login_s_main4 {
  margin-top: 40px;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.wrap section .login_s_main4 .login_s_m4_left {
  width: 90px;
  height: 20px;
  background: none;
}
.wrap section .login_s_main4 .login_s_m4_left a {
  margin-left: 20px;
  text-decoration: none;
  color: #507daf;
}
.wrap section .login_s_main4 .login_s_m4_center {
  -webkit-box-flex: 1;
}
.wrap section .login_s_main4 .login_s_m4_right {
  width: 90px;
  height: 20px;
  background: none;
}
.wrap section .login_s_main4 .login_s_m4_right a {
  text-decoration: none;
  color: #507daf;
}
