@import url("reset.css");
html,
body,
.wrap {
  width: 100%;
  height: 100%;
  background: none;
}
.wrap {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.wrap header {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  width: 100%;
  height: 45px;
  background: #f7f7f7;
}
.wrap header .myindent_h_left {
  width: 40px;
  height: auto;
  background: none;
}
.wrap header .myindent_h_left img {
  width: 10px;
  height: auto;
  background: none;
  margin-top: 14px;
  margin-left: 11px;
}
.wrap header .myindent_h_center {
  -webkit-box-flex: 1;
  text-align: center;
  line-height: 45px;
}
.wrap header .myindent_h_center button {
  border: none;
  outline: none;
}
.wrap header .myindent_h_center #btn1 {
  width: 80px;
  height: 25px;
  background: #ff7f1d;
  border-radius: 10px 0px 0px 10px;
  color: white;
}
.wrap header .myindent_h_center #btn2 {
  width: 80px;
  height: 25px;
  background: #f7f7f7;
  border-radius: 0 10px 10px 0px;
  border: 1px solid #ff7f1d;
  color: #ff7f1d;
}
.wrap header .myindent_h_right {
  width: 40px;
  height: auto;
  background: none;
}
.wrap header .myindent_h_right img {
  width: 20px;
  height: auto;
  background: none;
  margin-top: 13px;
  margin-left: 11px;
}
.wrap section {
  -webkit-box-flex: 1;
  overflow-y: auto;
  background: #f3f3f3;
}
.wrap section::-webkit-scrollbar {
  width: 0;
}
.wrap section .myindent_s_nav {
  width: 100%;
  height: 50px;
  background: #ffffff;
  border-bottom: 1px solid #d9d9d9;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.wrap section .myindent_s_nav .myindent_s_n_left {
  -webkit-box-flex: 1;
  text-align: center;
  line-height: 50px;
}
.wrap section .myindent_s_nav .myindent_s_n_left dl {
  line-height: 23px;
}
.wrap section .myindent_s_nav .myindent_s_n_left #dl {
  color: #ff7f1d;
}
.wrap section .myindent_s_nav .myindent_s_n_right {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 45px;
  height: 35px;
  background: none;
  border-left: 1px solid #7F7F7F;
  text-align: center;
}
.wrap section .myindent_s_nav .myindent_s_n_right img {
  width: 20px;
  height: auto;
  background: none;
  margin-top: 10px;
}
.wrap section .myindent_s_main {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  width: 100%;
  height: 30px;
  background: #ffffff;
  border-bottom: 1px solid #f3f3f3;
  margin-top: 5px;
}
.wrap section .myindent_s_main .myindent_s_m_left {
  -webkit-box-flex: 1;
  line-height: 30px;
}
.wrap section .myindent_s_main .myindent_s_m_right {
  width: 80px;
  height: 30px;
  background: #ffffff;
  border-bottom: 1px solid #f3f3f3;
  text-align: center;
  line-height: 28px;
  color: #ff7f1d;
}
.wrap section .myindent_s_main2 {
  width: 100%;
  height: 82.5px;
  background: #ffffff;
  padding: 10px 10px ;
}
.wrap section .myindent_s_main2 .myindent_s_m2_1 {
  color: #666666;
  font-size: 12px;
}
.wrap section .myindent_s_main3 {
  width: 100%;
  height: 50px;
  background: #ffffff;
  padding: 10px 10px ;
}
.wrap section .myindent_s_main3 .myindent_s_m3_1 {
  color: #666666;
  font-size: 12px;
}
.wrap footer {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  width: 100%;
  height: 50px;
  background: #ffffff;
  border-top: 1px solid #d9d9d9;
}
.wrap footer dl {
  -webkit-box-flex: 1;
  text-align: center;
  margin-top: 5px;
}
.wrap footer dl dt img {
  width: 22px;
  height: auto;
  background: none;
}
.wrap footer dl dd {
  font-size: 11px;
  color: #7f7f7f;
}
.wrap footer #img {
  width: 44px;
  height: auto;
  background: none;
  margin-top: 5px;
}
.wrap footer .click img {
  width: auto;
  height: 24px;
  background: none;
}
.wrap footer .click dd {
  color: #ff7f1c;
}
.wrap footer .click1 img {
  width: auto;
  height: 24px;
  background: none;
}
