@import url(reset.css);
.full(@w,@h,@bg){
    width: @w;
    height: @h;
    background: @bg;
}
.box(@ver:vertical){
    display: -webkit-box;
    -webkit-box-orient: @ver;
}
html,body{
    width: 100%;
    height: 100%;
}