@import url(reset.css);
html,
body {
  width: 100%;
  height: 100%;
}
.wrapper {
  width: 100%;
  height: 100%;
  background: #f0f0f0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.wrapper header {
  width: 100%;
  height: 45px;
  background: #ff7f1c;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  padding: 0 11px;
  position: relative;
}
.wrapper header .qianbao_h_left {
  position: absolute;
  left: 11px;
  top: 13px;
}
.wrapper header .qianbao_h_left img {
  width: auto;
  height: 18px;
  background: none;
}
.wrapper header .qianbao_h_center {
  font-size: 17px;
  color: #feffff;
  -webkit-box-flex: 1;
  text-align: center;
  line-height: 45px;
  font-weight: bold;
}
.wrapper header .qianbao_h_right {
  position: absolute;
  right: 11px;
  top: 13px;
}
.wrapper header .qianbao_h_right img {
  width: auto;
  height: 18px;
  background: none;
}
.wrapper section {
  -webkit-box-flex: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.wrapper section .money {
  width: 100%;
  padding: 15px 21px 10px 21px;
  background: #FFFFFF;
  margin-bottom: 5px;
}
.wrapper section .money p {
  text-align: center;
}
.wrapper section .money p:nth-child(1) {
  margin-bottom: 10px;
  text-align: right;
}
.wrapper section .money p:nth-child(1) span {
  display: inline-block;
  width: 58px;
  height: 18px;
  background: #ffffff;
  text-align: center;
  line-height: 18px;
  font-size: 12px;
  color: #ff7208;
  border: 2px solid #ff7208;
  border-radius: 3px;
}
.wrapper section .money p:nth-child(2) {
  font-size: 15px;
  color: #646464;
  margin-bottom: 15px;
  font-weight: bold;
}
.wrapper section .money p:nth-child(3) {
  font-size: 14px;
  color: #ff8020;
  font-weight: bold;
  margin-bottom: 5px;
}
.wrapper section .money p:nth-child(4) {
  font-size: 12px;
  color: #979797;
  margin-bottom: 10px;
}
.wrapper section .money p:nth-child(5) {
  font-size: 9px;
  color: #656565;
  margin-bottom: 30px;
}
.wrapper section .money p:nth-child(5) span {
  color: #ff7c08;
}
.wrapper section .money p:nth-child(6) span:nth-child(1) {
  display: inline-block;
  width: 80px;
  height: 30px;
  background: #ff7f1c;
  font-size: 15px;
  color: #f7fdfb;
  line-height: 30px;
  border-radius: 21px;
  margin-right: 60px;
}
.wrapper section .money p:nth-child(6) span:nth-child(2) {
  display: inline-block;
  width: 80px;
  height: 30px;
  background: #ffffff;
  border: 1px solid #9a9a9a;
  font-size: 15px;
  color: #ff7c08;
  line-height: 30px;
  border-radius: 21px;
}
.wrapper section .zhifubao {
  width: 100%;
  height: 30px;
  background: #ffffff;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  padding: 0 11px;
  position: relative;
  margin-bottom: 5px;
}
.wrapper section .zhifubao .qianbao_z_left {
  position: absolute;
  left: 11px;
  top: 6px;
}
.wrapper section .zhifubao .qianbao_z_left img {
  width: auto;
  height: 12px;
  background: none;
}
.wrapper section .zhifubao .qianbao_z_center {
  font-size: 13px;
  color: #212121;
  -webkit-box-flex: 1;
  padding-left: 30px;
  line-height: 30px;
}
.wrapper section .zhifubao .qianbao_z_right {
  position: absolute;
  right: 11px;
  top: 6px;
}
.wrapper section .zhifubao .qianbao_z_right img {
  width: auto;
  height: 12px;
  background: none;
}
.wrapper section .news {
  width: 100%;
  background: #ffffff;
}
.wrapper section .news h3 {
  width: 100%;
  height: 30px;
  background: none;
  line-height: 30px;
  font-size: 13px;
  color: #3a3a3a;
  border-bottom: 1px solid #f3f3f3;
  padding: 0 11px;
}
