@import url(reset.css);
html,
body {
  width: 100%;
  height: 100%;
}
.wrapper {
  width: 100%;
  height: 100%;
  background: #f2f2f2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.wrapper header {
  width: 100%;
  height: 45px;
  background: #f7f7f7;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  padding: 0 11px;
  position: relative;
  border-bottom: 1px solid #bfbfbf;
}
.wrapper header .chongzhi_h_left {
  position: absolute;
  left: 11px;
  top: 13px;
}
.wrapper header .chongzhi_h_left img {
  width: auto;
  height: 18px;
  background: none;
}
.wrapper header .chongzhi_h_center {
  font-size: 16px;
  color: #232323;
  -webkit-box-flex: 1;
  text-align: center;
  line-height: 45px;
  font-weight: bold;
}
.wrapper header .chongzhi_h_right {
  position: absolute;
  right: 11px;
  top: 13px;
  font-size: 16px;
  color: #313131;
}
.wrapper section {
  -webkit-box-flex: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  margin-top: 5px;
}
.wrapper section .news {
  width: 100%;
  height: 40px;
  background: #ffffff;
}
.wrapper section .news p {
  width: 100%;
  height: 40px;
  background: #ffffff;
  line-height: 40px;
  padding: 0 11px;
  position: relative;
}
.wrapper section .news p input {
  border: none;
  outline: none;
  font-size: 13px;
  font-weight: bold;
  color: #999999;
}
.wrapper section .news p img {
  position: absolute;
  top: 8px;
  right: 11px;
}
