@import url("reset.css");
/* line 11, index.less */
html,
body,
.wrap {
  width: 100%;
  height: 100%;
  background: none;
}
/* line 14, index.less */
.wrap {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
/* line 16, index.less */
.wrap header {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  width: 100%;
  height: 4rem;
  background: #f7f7f7;
}
/* line 19, index.less */
.wrap header .shouye_h_left {
  width: 65px;
  height: auto;
  background: none;
  text-align: center;
  margin-top: 15px;
}
/* line 24, index.less */
.wrap header .shouye_h_right {
  margin-top: 20px;
  -webkit-box-flex: 1;
}
/* line 27, index.less */
.wrap header .shouye_h_right h2 {
  text-align: center;
  font-size: 20px ;
  font-family: "微软雅黑";
}
/* line 34, index.less */
.wrap section {
  -webkit-box-flex: 1;
  overflow-y: auto;
}
/* line 37, index.less */
.wrap section::-webkit-scrollbar {
  width: 0;
}
/* line 40, index.less */
.wrap section .shouye_s_top {
  width: 100%;
  height: 100px;
  background: none;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  padding-top: 15px ;
  border-bottom: 1px solid #d9d9d9;
}
/* line 45, index.less */
.wrap section .shouye_s_top .shouye_s_t_left {
  margin-left: 15px;
  width: 87px;
  height: auto;
  background: none;
}
/* line 48, index.less */
.wrap section .shouye_s_top .shouye_s_t_left img {
  width: 55px;
  height: 55px;
  background: none;
}
/* line 52, index.less */
.wrap section .shouye_s_top .shouye_s_t_center {
  -webkit-box-flex: 1;
  margin-top: 10px;
}
/* line 55, index.less */
.wrap section .shouye_s_top .shouye_s_t_center #s1 {
  display: inline-block;
  width: 50px;
  height: 14px;
  background: #ff4808;
  color: white;
  font-size: 6px;
  border-radius: 3px ;
  margin-left: 5px;
  text-align: center;
}
/* line 64, index.less */
.wrap section .shouye_s_top .shouye_s_t_center #s2 {
  color: #ff4808 ;
}
/* line 68, index.less */
.wrap section .shouye_s_top .shouye_s_t_right {
  width: 60px;
  height: auto;
  background: none;
  margin-top: 15px;
}
/* line 71, index.less */
.wrap section .shouye_s_top .shouye_s_t_right img {
  margin-left: 15px;
}
/* line 77, index.less */
.wrap section .shouye_s_time {
  width: 100%;
  height: 45px;
  background: none;
  border-bottom: 1px solid #F7F7F7;
  text-align: center;
  line-height: 45px;
  font-weight: bold;
  color: #FF4808;
}
/* line 85, index.less */
.wrap section .shouye_s_nei {
  width: 100%;
  height: 75px;
  background: none;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  text-align: center;
}
/* line 90, index.less */
.wrap section .shouye_s_nei dl {
  border: 1px solid #D9D9D9;
  padding-top: 12px;
  padding-left: 15px;
  -webkit-box-flex: 1;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
/* line 96, index.less */
.wrap section .shouye_s_nei dl img {
  width: 25px;
  height: 25px;
  background: none;
  margin-top: 15px;
}
/* line 100, index.less */
.wrap section .shouye_s_nei dl dd {
  line-height: 28px;
  margin-left: 10px;
  font-family: "微软雅黑";
}
/* line 104, index.less */
.wrap section .shouye_s_nei dl dd span {
  color: #D9D9D9;
}
/* line 110, index.less */
.wrap section .shouye_s_message {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  width: 100%;
  height: 35px;
  background: none;
}
/* line 113, index.less */
.wrap section .shouye_s_message .shouye_s_m_left {
  -webkit-box-flex: 1;
  color: #333333;
}
/* line 117, index.less */
.wrap section .shouye_s_message .shouye_s_m_left img {
  width: auto;
  height: 23px;
  background: none;
  margin-top: 10px;
  margin-left: 14px;
  margin-right: 10px;
  margin-bottom: -6px;
}
/* line 125, index.less */
.wrap section .shouye_s_message .shouye_s_m_right {
  width: 35px;
  height: auto;
  background: none;
}
/* line 127, index.less */
.wrap section .shouye_s_message .shouye_s_m_right img {
  width: auto;
  height: 22px;
  background: none;
  margin-top: 8px;
}
/* line 134, index.less */
.wrap footer {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  width: 100%;
  height: 4.8rem;
  background: none;
  border-top: 1px solid #d9d9d9;
  text-align: center;
}
/* line 139, index.less */
.wrap footer #di {
  margin-top: 8px ;
}
/* line 142, index.less */
.wrap footer dl {
  -webkit-box-flex: 1;
}
/* line 145, index.less */
.wrap footer dl img {
  width: 30px;
  height: 32px;
  background: none;
}
/* line 148, index.less */
.wrap footer dl dt {
  margin-top: 5px;
}
/* line 153, index.less */
.wrap footer #xia {
  margin-top: 5px ;
}
/* line 155, index.less */
.wrap footer #xia img {
  width: 25px;
  height: 30px;
  background: none;
}
/* line 158, index.less */
.wrap footer #xia dt {
  margin-top: 10px;
}
/* line 163, index.less */
.wrap footer #da img {
  width: 73px;
  height: 65px;
  background: none;
}
