@import url(reset.css);
html,
body {
  width: 100%;
  height: 100%;
}
.wrapper {
  width: 100%;
  height: 100%;
  background: #f2f2f2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.wrapper header {
  width: 100%;
  height: 45px;
  background: #f7f7f7;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  padding: 0 11px;
  position: relative;
  border-bottom: 1px solid #bfbfbf;
}
.wrapper header .tixian_h_left {
  position: absolute;
  left: 11px;
  top: 13px;
}
.wrapper header .tixian_h_left img {
  width: auto;
  height: 18px;
  background: none;
}
.wrapper header .tixian_h_center {
  font-size: 16px;
  color: #232323;
  -webkit-box-flex: 1;
  text-align: center;
  line-height: 45px;
  font-weight: bold;
}
.wrapper header .tixian_h_right {
  position: absolute;
  right: 11px;
  top: 13px;
}
.wrapper header .tixian_h_right img {
  width: auto;
  height: 18px;
  background: none;
}
.wrapper section {
  -webkit-box-flex: 1;
  background: #f2f2f2;
  overflow-y: auto;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.wrapper section::-webkit-scrollbar {
  width: 0;
}
.wrapper section h5 {
  width: 100%;
  height: 21px;
  background: none;
  line-height: 21px;
  font-size: 11px;
  color: #3b3b3b;
  padding-left: 11px;
}
.wrapper section h5 span {
  color: #fc8b51;
}
.wrapper section .news {
  width: 100%;
  background: #ffffff;
  padding-left: 11px;
  margin-bottom: 5px;
}
.wrapper section .news > p {
  width: 100%;
  height: 35px;
  background: none;
  border-bottom: 1px solid #e4e4e4;
  font-size: 12px;
  line-height: 35px;
  position: relative;
}
.wrapper section .news > p input {
  outline: none;
  border: none;
  width: 75%;
  height: auto;
  background: none;
}
.wrapper section .news > p img {
  width: 7px;
  height: auto;
  background: none;
  position: absolute;
  top: 12px;
  right: 11px;
}
.wrapper section .news .img h6 {
  width: 100%;
  height: 35px;
  background: none;
  line-height: 35px;
  font-size: 12px;
  color: #2d2d2d;
  font-weight: bold;
}
.wrapper section .news .img ul {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  padding: 10px 0 15px 0;
}
.wrapper section .news .img ul li {
  margin-right: 15px;
}
.wrapper section .news .img ul li img {
  width: 80px;
  height: auto;
  background: none;
}
.wrapper section .news dl dt {
  position: relative;
  float: right;
}
.wrapper section .news dl dt img {
  width: 7px;
  height: auto;
  background: none;
  position: absolute;
  top: 22px;
  right: 11px;
}
.wrapper section .news dl dd {
  float: left;
  padding: 8px 0 8px 5px;
}
.wrapper section .news dl dd P {
  width: 100%;
  line-height: 20px;
  font-size: 12px;
  color: #383838;
}
.wrapper section .news dl dd P img {
  margin-right: 10px;
}
.wrapper section .news dl dd p:nth-child(1) img {
  width: 14px;
  height: auto;
  background: none;
}
.wrapper section .news dl dd p:nth-child(2) img {
  width: 11px;
  height: auto;
  background: none;
}
.wrapper footer {
  width: 100%;
  height: 50px;
  background: #ffffff;
  font-size: 14px;
  color: #363636;
  line-height: 50px;
  padding-left: 11px;
}
.wrapper footer .num {
  color: #f88021;
}
.wrapper footer .btn {
  float: right;
  display: inline-block;
  width: 100px;
  height: 100%;
  background: #ff7d1b;
  line-height: 50px;
  text-align: center;
  font-size: 17px;
  color: #fff6f0;
}
